@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  overscroll-behavior: none;
}

.pb-safe {
  padding-bottom: env(safe-area-inset-bottom, 12px);
} 